<app-header></app-header>
<div class="main-content-wrap sidenav-open d-flex flex-column">

  <app-page-title [heading]="heading"></app-page-title>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <app-go-back-button></app-go-back-button>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (submit)="submitEditForm()">
            <div class="row">
              <div class="col-md-4 form-group mb-3">
                <label>Room Type</label>
                <input type="text" class="form-control" formControlName="typeName">
              </div>

            </div>
            <button class="btn btn-primary" [disabled]="!editForm.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
