<app-header></app-header>
<!-- ============ Body content start ============= -->
<div class="main-content-wrap sidenav-open d-flex flex-column">


  <app-page-title [heading]="heading"></app-page-title>

  <div class="card user-profile o-hidden mb-4">
    <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg')"></div>
    <div class="user-info">
      <p class="m-0 text-24" style="padding-top: 50px;">{{hotelData?.name}}</p>
    </div>
    <div class="card-header">
      <button class="btn btn-warning text-right float-right" (click)="goBack()" type="button" aria-haspopup="true" aria-expanded="false">
        go back <i class="nav-icon i-Arrow-Left"></i>
      </button>
    </div>
    <div class="card-body">

          <div class="row">
            <div class="col-md-4 col-6">
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Home1 text-16 mr-1"></i> Name</p>
                <span>{{hotelData?.name}}</span>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Address</p>
                <span>{{hotelData?.address}}</span>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Geo21 text-16 mr-1"></i> City</p>
                <span>{{hotelData?.city}}</span>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> State</p>
                <span>{{hotelData?.state}}</span>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Country</p>
                <span>{{hotelData?.country}}</span>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Geo2- text-16 mr-1"></i> Zip code</p>
                <span>{{hotelData?.zipcode}}</span>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Telephone text-16 mr-1"></i> Phone</p>
                <span>{{hotelData?.phone}}</span>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Email text-16 mr-1"></i> Email</p>
                <span>{{hotelData?.email}}</span>
              </div>
              <div class="mb-4">
                <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Date created</p>
                <span>{{hotelData?.created_at}}</span>
              </div>
            </div>
          </div>

  </div>
</div>
</div>
