<app-header></app-header>
<!-- ============ Body content start ============= -->
<div class="main-content-wrap sidenav-open d-flex flex-column">


  <app-page-title [heading]="heading"></app-page-title>

  <div class="card user-profile o-hidden mb-4">
    <div class="user-info">
      <p class="m-0 text-24" style="padding-top: 50px;">{{roomTypeData?.type_name}} room type</p>
    </div>
    <div class="card-header">
      <button class="btn btn-warning text-right float-right" (click)="goBack()" type="button" aria-haspopup="true" aria-expanded="false">
        go back <i class="nav-icon i-Arrow-Left"></i>
      </button>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-6 col-6">

          <p class="text-primary mb-1"><i class="i-Money text-16 mr-1"></i> Type Name</p>
          <span>{{roomTypeData?.type_name}}</span>

        </div>
        <div class="col-md-6">
          <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Date Created</p>
          <span>{{roomTypeData?.created_at}}</span>
        </div>

      </div>

    </div>
  </div>
</div>
